<!--
  Generated template for the Auth page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title>{{ authType === 'register' ? 'Sign Up' : 'Sign In' }}</ion-title>
    <ion-buttons start *ngIf="isModal">
      <button ion-button (click)="close()">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="authType" (ngModelChange)="authTypeChange()">
      <ion-segment-button value="login">
        Sign In
      </ion-segment-button>
      <ion-segment-button value="register">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <ion-list>
        <ion-item *ngIf="authType == 'register'">
          <ion-input formControlName="username" placeholder="Username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" placeholder="Email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div padding>
        <button ion-button [disabled]="!authForm.valid" type="submit">
          {{ authType === 'register' ? 'Sign Up' : 'Sign In' }}
        </button>
      </div>
    </fieldset>
  </form>
</ion-content>