<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Home</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="listType" (ngModelChange)="setListType()">
      <ion-segment-button value="feed" [disabled]="!isAuthenticated">
        Your Feed
      </ion-segment-button>
      <ion-segment-button value="all">
        Global Feed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-article-list [config]="listConfig" [limit]="10"></app-article-list>
  <p><button ion-button (click)="login()">Login</button></p>
</ion-content>
