<div>
  <ion-card *ngFor="let article of results">
    <ion-card-header>
      {{article.title}}
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>

</div>

<div class="article-preview" [hidden]="!loading">
  Loading articles...
</div>

<div class="article-preview" [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<nav [hidden]="loading">
  <ul class="pagination">

    <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">

      <a class="page-link" href="#">{{ pageNumber }}</a>

    </li>

  </ul>
</nav>